{# filepath: c:\Users\Hp\Biblio-Project\biblio-project-backend\templates\admin\lecteur/new.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block title %}Nouveau Lecteur{% endblock %}

{% block admin_content %}
    <h1>Créer un nouveau Lecteur</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Créer</button>
    {{ form_end(form) }}
    <a href="{{ path('admin_lecteurs_index') }}">Retour à la liste</a>
{% endblock %}