{# templates/section/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Sections in {{ domain.name }}{% endblock %}

{% block body %}
    <h1>Sections in {{ domain.name }}</h1>
    <ul>
        {% for section in sections %}
            <a href="{{ path('section_books', {'id': section.id}) }}">
               {{ section.name }}
            </a>
        {% endfor %}
    </ul>
{% endblock %}
