{% extends 'base.html.twig' %}

{% block title %}Accès Refusé{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px; text-align: center;">
        <h1>Accès refusé</h1>
        <p>Vous n'avez pas accès à cette partie du tableau de bord.</p>
        <a href="{{ path('admin_dashboard') }}" class="btn btn-primary">Retour au Dashboard</a>
    </div>
{% endblock %}